@font-face{
	font-family:"Nemo Nightmares";
	src: local("Nemo Nightmares"),
	url(NemoNightmares/NemoNightmares.ttf);
	font-weight:bold;
}
@font-face{
	font-family:"Spiders";
	src: local("Spiders"),
	url(Spiders.ttf);
	font-weight:bold;
}
@font-face{
	font-family:"Frosty";
	src: local("FROSTY_"),
	url(FROSTY_.ttf);
	font-weight:bold;
}
.snowflake {
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}
@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%,100%{-webkit-transform:translateX(0);transform:translateX(0)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}.snowflake:nth-of-type(10){left:25%;-webkit-animation-delay:2s,0s;animation-delay:2s,0s}.snowflake:nth-of-type(11){left:65%;-webkit-animation-delay:4s,2.5s;animation-delay:4s,2.5s}.snowflake:nth-of-type(12){left:62%;-webkit-animation-delay:4.1s,2.3s;animation-delay:4.1s,2.3s;}.snowflake:nth-of-type(13){left:35%;-webkit-animation-delay:1.5s,3.3s;animation-delay:1.5s,3.3s;}.snowflake:nth-of-type(14){left:75%;-webkit-animation-delay:2s,3s;animation-delay:2s,3s;}.snowflake:nth-of-type(15){left:40%;-webkit-animation-delay:2s,5s;animation-delay:2s,5s}.snowflake:nth-of-type(16){left:50%;-webkit-animation-delay:2s,2.1s;animation-delay:2s,2.1s}.snowflake:nth-of-type(17){left:95%;-webkit-animation-delay:7s,5s;animation-delay:7s,5s}.snowflake:nth-of-type(18){left:86%;-webkit-animation-delay:.5s,3s;animation-delay:.5s,3s}.snowflake:nth-of-type(19){left:62%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(20){left:42%;-webkit-animation-delay:1.5s,3.2s;animation-delay:1.5s,3.2s}.snowflake:nth-of-type(21){left:25%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(22){left:75%;-webkit-animation-delay:2.4s,3s;animation-delay:2.4s,4.23s}
html, body {
	height: 100%;
	margin: 0;
}
.wrapper {
	min-height:100%;
	margin-bottom: -100px;
}
.blinking {
	animation:blinkingText 0.3s infinite;
}
.spin {
	animation: spin 5s linear infinite;
}
.bounce:hover {
	animation: bounce 1.5s linear infinite;
}
@keyframes blinkingText{
	5%{color: red;}
	49%{color: transparent;}
	50%{color:transparent;}
	99%{color:transparent;}
	100%{color:red;}
}
@keyframes spin {
	0% {
		transform: rotateX(0);
	}
	100% {
		transform: rotateY(360deg);
	}
}
@keyframes imgspin {
	0% {
		transform: rotateY(0);
	}
	100% {
		transform: rotateZ(360deg);
	}
}
@keyframes bounce {
	100% {
		transform: rotateZ(360deg);
		transform: scale(.5,2);
}
}
@keyframes backgroundFlicker{
	0%,49% {
		background-image:linear-gradient(green,red);
	}
	50%,100%{
		background-image:linear-gradient(orange,black);
	}
}
@-webkit-keyframes orbit { 
from { -webkit-transform:rotate(0deg) } 
to { -webkit-transform:rotate(360deg) } 
}
@keyframes shine{
  10% {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }
  100% {
    opacity: 0;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
  }
}
@keyframes liftLid {
	100% {
		transform: rotateX(110deg) translate3d(0,-85px,175px);
	}
	0% {
		transform: rotateY(0deg);
	}
}
.title.blinking h1{
	margin:0;
}
.title {
	text-align:center;
	font-size:50pt;
	font-weight:100;
	font-family:"Nemo Nightmares";
	display:block;
	background-image:url("../images/ScaryChristmas.png");
}
.wallpaper{
	background-image: linear-gradient(135deg, transparent 50%, green 50%),
	repeating-radial-gradient(white,orange,red,green 20%);
	min-height:200%;
}
.nav {
	background-color:lightgray;
	border-radius:20px/10px;
	align-items:center;
}
.menu {
	text-align:center;
}
.menu-item {
	display:inline;
	max-width:25%;
	padding:0px 30px 0px 0px;
}
.menu-item a{
	text-decoration:none;
	font-size:60pt;
	color:black;
	text-shadow: 5px 5px white;
}
.menu-item.spooky a:hover{
	color:red;
	position: relative;
}
.menu-item.spooky a:hover:after{
	content: url(../images/skeleton.gif);
	display: block;
	position: absolute;
	left:0%;
	}
.menu-item.cheery a:hover{
	color:lightblue;
	position: relative;
}
.menu-item.cheery a:hover:after{
	content: url(../images/christmastree.gif);
	display: block;
	position: absolute;
	left:0%;
}
.menu-item.default a:hover{
	color:green;
}
.default {
	font-family:"Nemo Nightmares";
}
.spooky {
	font-family:"Spiders";
}
.cheery {
	font-family:"Frosty";
}
.footer,
.push {
	height:100px;
}
.footer {
	background-image: url("../images/presents.jpg");
	background-repeat: repeat;
}
.photo-gallery {
	width:90%;
	padding-left:5%;
	padding-right:5%;
	padding-top:20px;
}
.photo-gallery-item {
	max-width:24%;
	max-height:300px;
	display:inline;
	padding-right:.5%;
	padding-left:.5%;
}
.photo-gallery-item img{
	max-width:24%;
	height:auto;
	max-height:300px;
	background-color:white;
}
.photo-gallery-item img:hover {
	animation: imgspin .3s linear infinite;
	z-index:-1;
	box-shadow: 1px 1px 5px 5px black;

}
.upload-form {
	width:50%;
	padding-left:25%;
	padding-right:25%;
	background-color:green;
	border-style:groove;
	text-align:center;
	font-weight:500;
	font-size:20pt;
}
.login-form {
	width:50%;
	padding-left:25%;
	padding-right:25%;
	background-color:black;
	border-style:dotted;
	text-align:center;
	font-weight:500;
	font-size:20pt;
	color:orange;
}
.greeting-message {
	position:fixed;
	font-size:10pt;
	text-align:center;
	height:100px;
	width:300px;
}
.bright {
	background-color:red;
	color:black;
}
.very-bright {
	background-color:yellow;
	animation:blinkingText 0.3s infinite;
	color:green;
}
.backgroundFlicker {
	animation: backgroundFlicker .5s infinite;
}
.dot {
	position:fixed;
}
.orbit {
	position:absolute;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -webkit-animation-name:orbit;
    -webkit-animation-duration:5s;
}
.music-button {
	background-color:white;
	border:groove;
	padding:20px 100px;
	font-size:20px;
	text-decoration:none;
	text-align:center;

}
.circle {
	text-decoration:none;
	height:100px;
	width:100px;
	background-image:radial-gradient(red,red,black);
	border-radius:50%;
	box-shadow: 2px 1px black;
	font-weight:bolder;
	font-size:20px;
}
.shine {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.shine:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}
.shine:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Active state */

.shine:active:after {
  opacity: 0;
}
.metal {
	position:relative;
	display:inline-block;
	width:150px;
	height:150px;
	background-image: url("../images/metal.jpg");
	border-style:groove;
}
.circle.shine {
	margin-top:25px;
	margin-bottom:25px;
}
.glass {
	box-shadow: 0 0 1px 0 rgba(0,0,0,.2);
	border-radius:1px;
	background-image:repeating-linear-gradient(to top left, rgba(255, 255, 255, .3), rgba(255, 255, 255, .12) 30px);
	backdrop-filter: blur(5px);
	z-index:10;
	text-align:center;

}
.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.cube__face {
  position: absolute;
  width: 150px;
  height: 150px;
}
.cube__face--front { transform: rotateY(  0deg); }
.cube__face--right { transform: rotateY( 90deg); }
/*.cube__face--back  { transform: rotateY(180deg); }*/
.cube__face--left  { transform: rotateY(-90deg); }
.cube__face--top   { transform: rotateX( 90deg); }
.cube__face--bottom { transform: rotateX(-90deg); }
.cube__face--front { transform: rotateY(  0deg) translateZ(75px); }
.cube__face--right { transform: rotateY( 90deg) translateZ(75px); }
/*.cube__face--back  { transform: rotateY(180deg) translateZ(75px); }*/
.cube__face--left  { transform: rotateY(-90deg) translateZ(75px); }
.cube__face--top   { transform: rotateX( 90deg) translateZ(75px); }
.cube__face--bottom { transform: rotateX(-90deg) translateZ(75px); }
.cube { transform: translateZ(-75px); }

.cover {
	position:absolute;
	top:0;
	left:0;
	transform-style: preserve-3d;
}
.liftLid {
	-webkit-animation: liftLid 3s linear .5s 1 normal forwards;
	animation: liftLid 3s linear .5s 1 normal forwards;
}
.placeholder {

}
#warning {
	color:black;
	text-shadow:1px 1px black;
}
.home-page {
	background: url("../images/yulelog.gif")
	no-repeat center center fixed; 
	background-size: cover;
	height:100%;
	text-align:center;
}
.big-red-button-home {
	top:40%;
	position:relative;
}
.big-red-button-home h1{
	color:lightblue;
	background-color:gray;
	border-radius:3px;
	box-shadow: 1px 3px black;
	width:33.3333%;
	left:33.3333%;
	position:relative;
}